parameters:
    level: 6
    paths:
        - packages/pdf/core/src
        - packages/pdf/writer/src
        - packages/geometry/src
        - packages/encoding/src
        - packages/font-metrics/src
        - packages/font-parser/src
        - packages/image-metadata/src
        - packages/filters/src
        - packages/color/src
        - packages/xmp/src
        - packages/crypt/src
        - packages/css/src
        - packages/text/src
        - packages/html/src
        - packages/svg/src
        - packages/html-to-pdf/src
        - packages/svg-to-pdf/src
    excludePaths:
        - packages/*/tests
        - packages/*/vendor
    treatPhpDocTypesAsCertain: false
